[
  {raft, [
    {max_heartbeat_timeout, 15000},
    {min_heartbeat_timeout, 5000},
    {heartbeat_grace_time, 5000},
    {consensus_timeout, 5000}
  ]},
  {kernel,
    [{logger,
      [{handler, default, logger_std_h,
        #{ formatter => {logger_formatter,
                       #{ template => [time, " " , level, " [", pid, ",", raft_role, "] ", msg, "\n"]
                       }}}
          }
      ]}
    ]
  }
].